/**
 * 1. Css Introduction: Css => Cascading Style Sheet. (CSS3 - Version), .className {font-size: 16px;} => .className (Selector), font-size (Property Name), 16px (Value)
 * 
 * 2. How to Add Css: Inline Css, Internal Css, External Css.
 * 
 * 3. 
 * 
 * 4. Css Selector: #idName,.className, ElementName, #idName .className ElementName ...
 * 
 * 5. Css Comments: Css comments format.
 * 
 * 6. Color in Css: colorName, rgb color, hex color, hsl color, rgba color.
 * 
 * 7. Css Backgorund: {background: color url() no-repeat center center;
 * [background-color, background-url, background-repeat, background-position],background-size: cover, background-attachment: fixed; }
 * 
 * 8. Css Border: {border: 3px solid #ddd;} [border-width, border-style, border-color], border-radius: 3px 3px 5px 5px;
 * 
 * 9. Css height & width: {width: 800px; height: 500px; max-width: 700px; min-height: 600px}
 * 
 * 10. Css Padding: {padding: 10px 15px 10px 15px; box-sizing: border-box}
 * 
 * 11. Css Margin: {margin: 10px 15px}
 * 
 * 12. Css Box-Model: {Box-Model => Content => padding => border => Outline => Margin} = {box-sizing: border-box} 
 *
 * 13. Css Text: {font-size, font-family, text-decoration, text-style, text-transform, text-direction, writting-mode, vertical-align: middle, line-height, text-indent, letter-spacing, word-spacing, white-space: pre, word-wrap: break-word; text-shadow,}
 * 
 * 14. Css link: [a, a:link, a:visited, a:hover, a:active]
 * 
 * 15. Css Font: how to use google font, {font-family: 'Poppins', fallbackFontsName} [@font-face {font-family: 'fontName'; src: url('./fonts/fontsName.ttf)}], {font-size, font-style, font-variant: small-caps, font-weight, }
 * 
 * 16. Css Units: (Absolute Unit: px, pt; Relative Unit: em =? parent multiplication by own, & rem => root html multiplication by own, vw => viewport width, vh => viewport height, % => device percentage)
 * 
 * 17. Css Cursor: {cursor: help, cursor: all-scroll, cursor: crosshair, cursor: grab, cursor: not-allowed; cursor: pointer, cursor: progress, cursor: wait;}
 * 
 * 18. Css important: {font-size: 18px !important;} => !important highest priority.
 * 
 * 19. Css Box Shadow: {box-shadow: 3px 4px 5px #ededed;} [box-shadow: 3px 4px 5px #ededed, 3px 4px 5px red;] - multiple shadow use.
 * 
 * 20. Css Opactity: {opacity: 0.7;} = (0.7 => 70%)
 * 
 * 21. Css Filter: filter use for images {filter: blur(10px), brithness(50%), contrast(50%), drop-shadow(5px 5px 5px red), grayscale(80%), hue-rotate(80deg), invert(90%), opacity(70%), saturation(80%), speia(80%)
 * 
 * 22. Image Sprites: Only one image but show crop and different selction. {height: 100px; background: url('./img.png') no-repeat; background-position: 0px -100px)
 * 
 * 23. Css Gradiant: liniar-gradient => ({background-image: liniar-gradient(to top right, red, gree, blue); liniar-gradient(145deg, red, gree, blue);}), radial-gradient => ({background-image: radial-gradient(circle, red 50%, green 30%, blue 40%)}, repeating-radial-gradient(red 50%, green 30%, blue 40%)}), conic-gradient => (background-image: conic-gradient(red, green, blue)
 * 
 * 24. Css overflow: {overflow: hidden, scroll, auto}
 * 
 * 25. Css resize: {resize: none, horizontal, vertical, both} must be {overflow: auto, scroll, hidden}
 * 
 * 26. Css list: {list-style-type: none;list-style-image: url('./img.png'); list-style-position: inside;}
 * 
 * 27. Css table: table{table-layout: auto, fixed (width must be included); border-collapse: collapse; border-spacing: 5px; empty-cell: hide}, table, th, td{border: 1px solid #ddd; text-align: center}, caption{caption-side: bottom}, tr th , tr:nth-child(even){backgorund-color: violet}
 * 
 * 28. Css function: {width: cal(100vw - 200px), {color: var(--primaryColor;}
 * 
 * 29. Css Box-Sizing: {box-sizing: content-box, border-box}
 * 
 * 30. Css initial vs inherit: {font-size: inherit (parent er size nibe);} and initial default;
 * 
 * 31. Css Object-fit: {object-fit: cover; object-position: top center}
 * 
 * 32. Css Pseudo Class: li:last-child {}, li:first-child(), li:nth-child(2), li:nth-child(even), li:nth-child(3n), li:nth-child(3n + 0)
 * 
 * 33. Css Pseudo element: .className::before, #idName::after, tagName::first-letter, tagName::first-line, ::selection{backgorund-color: violet}

 * 34. Css Display: {display: block, inline, inline-block, none} {visibility: hidden}
 * 
 * 35. Css Position: {position: static, relative, fixed, absolute} {top, bottom, left, right}
 */
